<!--头部-->
<div class="bar bar-header bar-dark">
    <a class="button button-clear"  href="/topic">
        <i class="icon ion-ios-arrow-left"></i>
    </a>
    <div class="h1 title">消息</div>
</div>

<!--话题中间显示的内容-->
<ion-content>
    <div style="margin-top: 50px">
        <div class="list card">

            <div class="item item-avatar"  ng-click="gocomment(no.comId)"   ng-repeat="no in notifications"  >
                <img src="/img/1.jpg">
                <h2>{{no.author}}</h2>

                <h3 class="text-one" style="white-space:pre;"><!-- 回复 -->
                   <!--  <span class="text-one-a">傻逼</span>: -->
              {{ no.content}}
                </h3>
                <p>{{no.submitted | date:'MM.dd HH:mm'}}</p>
            </div>

 <div class="item item-avatar"  ng-if="notifications.length == 0 " >
              
                <h1>
                    您没有任何消息
                </h1>

            
        
            </div>



        </div>


    </div>
</ion-content>

