<!--头部-->
<div class="bar bar-header bar-dark">
    <a class="button button-clear"  href="/topic">
        <i class="icon ion-ios-arrow-left"></i>
    </a>
    <div class="h1 title">详情</div>
</div>

<div class="bar bar-footer bar-dark item-input-inset ">
    <label class="item-input-wrapper">
        <input type="search" placeholder="说点什么吧" >
    </label>
    <button class="button button-clear" >
        发送
    </button>
</div>

<!--话题中间显示的内容-->
<ion-content>
    <div style="margin-top: 50px">
        <div class="list card">

            <div class="item item-avatar">
                <img src="img/1.jpg">
                <h2>杨怡</h2>
                <p>45分钟前 发表于 <a href="" class="text-one-a" >我喜欢穿好看的衣服</a></p>
            </div>

            <div class="item item-body">

                <span class="text-two">
                更显元 更显元 更显元 更显元 更显元 更显元 更显元 更显元 更显元 更显元 更显元 更显元 更显元 更显元 更显元
                </span>
                <div class="row "  >
                    <div class="col">
                        <img class="full-image" src="img/1.jpg">

                    </div>
                    <div class="col">
                        <img class="full-image" src="img/1.jpg">
                    </div>
                    <div class="col">
                        <img class="full-image" src="img/1.jpg">
                    </div>
                </div>
            </div>

            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item padding1" href="#">
                    <i class="icon ion-eye" ></i>
                    250
                </a>

                <a class="tab-item padding1" href="#">
                    <i class="icon ion-chatbox" ></i>
                    250
                </a>
                <a class="tab-item padding1" href="#">
                    <i class="icon ion-thumbsup"></i>
                    250
                </a>
            </div>
            <div class="item item-avatar" href="#">
                <img src="/img/1.jpg">
                <h2>Dana</h2>
                <p>I am The Gatekeeper!</p>
            </div>

            <div class="item item-avatar" href="#">
                <img src="/img/1.jpg">
                <h2>Slimer</h2>
                <p>Boo!</p>
            </div>

            <div class="item item-avatar" href="#">
                <img src="/img/1.jpg">
                <h2>Dana</h2>
                <p>I am The Gatekeeper!</p>
            </div>

            <div class="item item-avatar" href="#">
                <img src="/img/1.jpg">
                <h2>Slimer</h2>
                <p>Boo!</p>
            </div>


        </div>


    </div>
</ion-content>

