<!--头部-->
<div class="bar bar-header bar-dark">
    <a class="button button-clear"  href="/topic">
        <i class="icon ion-ios-arrow-left"></i>
    </a>
    <div class="h1 title">消息</div>
</div>

<!--话题中间显示的内容-->
<ion-content>
    <div style="margin-top: 50px">
        <div class="list card">

            <div class="item item-avatar"  ng-click="gocomment()">
                <img src="/img/1.jpg">
                <h2>杨怡</h2>

                <h3 class="text-one" style="white-space:pre;">回复
                    <span class="text-one-a">傻逼</span>:
                    Okay, who brought the dog?Okay, who brought the dog?Okay, who br
                </h3>
                <p>25分钟前</p>
                <p>2015年9月12号</p>
            </div>




        </div>


    </div>
</ion-content>

